body{
  width: 80%; 
  margin:50px auto; 
  padding: 0;
}


.header-container {
  display:flex;
  align-items: center;              /* Vertical alignment */
  margin-top: 20px; 
  margin-bottom: 20px; 
  margin-left: 10%;

  width: 80%;
  height:auto;

  border:solid black;
}


.headerDiv{
  display: inline-block;
  display:flex;
  align-items: center;

  font-family: 'Georgia', sans-serif;
  font-size: 30px;
  white-space: nowrap;

  border:solid orange;
}

.socialDiv{
  display: inline-block;
  display:flex;
  align-items: center;

  white-space: nowrap;
  width:100%;
  height:30%;

  border:solid blue;
}

.logo{
  width: 100%;
  height:auto;

  display:flex;
  justify-content: flex-end;
  border:solid black;
}

.logo-link{
  margin-left: 10px;
  width: 5%;
  border:solid lightskyblue;
}





.rounded1 {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 3%;
}

.rounded2 {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  width: 80%;
  margin-top:3%;
  
}



/* ============================================ */

.slideshow{
  
  position: relative;
  display: flex;
  justify-content: center;

  /* Temp */
  /*border-style: solid;
  border-color: blue;
  /* Temp */
}

.slide{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center; 

  padding-top: 2%;
  padding-bottom: 2%;
  width:80%;
  

  /* Temp */
  /*border-style: solid;
  border-color: red;
  /* Temp */
}




.resized-image{
  width: 100%;
  margin: 0 auto;
  
}

.prev, .next {
  cursor: pointer;
  user-select: none;

  width: 1%;
  padding: 15px;
  border-radius: 5px 5px 5px 5px;
  transition: 0.6s ease;

  color: white;
  font-weight: bold;
  font-size: 15px;
  
  /*background-color: rgba(0, 0, 0, 0.5); /* Background color for visibility (Testing only) */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.button-container{
  display:flex;
  position:absolute;
  
  top:50%;
  transform: translateY(-50%);
  justify-content: space-between;
  width:77%;

  /* Temp */
  /*border-style: solid;
  border-color: green;
  /* Temp */
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.topRow{
  margin-top:5%;
  margin-left:10%;
  width: 80%;
  height:auto;
  
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.bottomRow{
  margin-top:3.3%;
  margin-left:10%;
  width: 80%;
  height:auto;
  
  display: flex;
  justify-content: space-evenly;
  align-content: center;

}

.topRowImg{
  position:relative;
  width:100%;
  height:auto;

  display: block;

}

.themeClick {
  opacity: 1;
  width:30%;
  
  display: inline-block;
  position: relative; /* Ensure relative positioning for overlay */
  overflow: hidden;   /* Hide overflow to contain overlay */

  /* Adjust transition and overlay styles */

}

.themeClick:hover .overlay {
  opacity: 0.9; /* Adjust opacity for desired effect */
  transform: scale(1); /* Ensure overlay covers the image */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity .2s ease;

}
.text {
  color: black ;
  font-size: 25px;
  font-family: 'Georgia', sans-serif;
  text-align: center;
}
